# =========================
# Miscellaneous / OS
# =========================
*.class
*.log
*.pyc
*.swp

.DS_Store
.atom/
.history/
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# IDEs
# =========================
*.iml
*.ipr
*.iws

.idea/

# VS Code
# Uncomment if you do not want to commit local VS Code settings
#.vscode/

# =========================
# Flutter / Dart / Pub
# =========================
.dart_tool/
.pub/
.pub-cache/
build/
coverage/

.flutter-plugins
.flutter-plugins-dependencies

**/doc/api/
**/ios/Flutter/.last_build_id

# Generated Flutter files
**/Flutter/ephemeral/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh

# =========================
# FVM
# =========================
.fvm/

# Keep project FVM config in Git
!.fvmrc

# =========================
# Environment / Secrets
# =========================
.env
.env.*

# Keep example config in Git
!.env.example

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/key.properties

android/app/debug/
android/app/profile/
android/app/release/

*.jks
*.keystore

# =========================
# iOS / Xcode
# =========================
ios/Pods/
ios/.symlinks/

ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/

*.xcuserstate

# =========================
# Build / Generated
# =========================
.build/
.buildlog/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# =========================
# Certificates / Signing
# =========================
*.mobileprovision
*.p12
*.cer